.swiper {
  width: 100%;
  height: auto;
}

.swiper-wrapper {
	background-color: gray;
}

div.swiper--slide--item {  
}

.swiper-slide { 
	width: 100%;
}

.swiper-slide-active {	
}

.swiper-slide-prev {
}

.swiper-slide-next {
}